@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Montserrat&family=Poppins&display=swap');
body {
    animation: transitionIn 1s;
}
@keyframes transitionIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}
body{
    margin:0;
    padding:0;
    box-sizing: border-box;
    overflow-x: hidden;
    font-family: 'Lato', sans-serif;
    background-color: #1A1B18;
}
.background-image {
    position: relative;
    top: -10px;
    
}
.navbar-brand {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    margin-left: 1.5em;
}
.navbar-nav .nav-item .nav-link {
    font-size: 1.2em;
    color: #F6FEA5 !important;
    padding-right: 2.5em;
    padding-left: 2.5em;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
h1 {
    color: white !important;
    padding-top: 1.5em;
}

hr {
    color: white;
}
img {
    vertical-align: middle;
}
.card-image {
    text-align: center;
}

.btn-primary {
    color: black;
    background-color: #F6FEA5 !important;
}
.btn-primary:hover {
    color: black;
    background-color: #0b5ed7;
    border-color: black;
}
.btn-primary:visited {
    color: red;
}
footer {
    background: #111;
    padding: 15px 23px;
    color: #fff;
    text-align: center;
    width:100%;
}
.img-fluid {
    max-width: 100%;
    height:auto;
}
.row p {
    font-size: 25px;
}
.card {
    background-color: #1A1B18;
    
}